<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost/ngdb</property>
		<property name="hibernate.connection.username">ngdb</property>
		<property name="hibernate.connection.password">ngdb</property>
		
		<property name="hbm2ddl.auto">update</property>
		<property name="hibernate.show_sql">false</property>
		<property name="hibernate.format_sql">false</property>
		<property name="hibernate.jdbc.factory_class">net.bull.javamelody.HibernateBatcherFactory</property>
		
		<property name="hibernate.cache.region.factory_class">net.sf.ehcache.hibernate.SingletonEhCacheRegionFactory</property>
		<property name="hibernate.cache.use_second_level_cache">true</property>
		<property name="hibernate.cache.use_query_cache">true</property>
		<property name="hibernate.cache.use_structured_entries">true</property>
		<property name="hibernate.cache.region_prefix"></property>
		
		<property name="hibernate.generate_statistics">false</property>
		
		<property name="connection.provider_class">org.hibernate.connection.C3P0ConnectionProvider</property>

        <property name="hibernate.search.default.directory_provider">filesystem</property>
        <property name="hibernate.search.default.indexBase">/ngdb/index</property>

	</session-factory>
</hibernate-configuration>

