The NeoGeo database http://www.neogeodb.com/

Unless stated otherwise in the Seller's Shop Policy, Buyer should wait for a followup e-mail from Seller before initiating payment. Buyer and Seller should contact each other and arrange payment within 3 days of this e-mail.

For the Buyer:

Tracking your User orders status: http://www.neogeodb.com/basket Leaving feedback after reception: http://www.neogeodb.com/feedback

For the Seller:

Tracking your Shop orders status: http://www.neogeodb.com/shopOrders
Leaving feedback after payment:   http://www.neogeodb.com/feedback


--------------------------------------
Transaction Information
--------------------------------------
Order Date  : ${orderDate}

--------------------------------------
Order Batch Summary
--------------------------------------
${orderBatchSummary}

--------------------------------------
Buyer Information
--------------------------------------
Login: ${buyerUsername}
Email: ${buyerEmail}

Wish List : http://www.neogeodb.com/wishbox/${buyerId}

--------------------------------------
Seller Information
--------------------------------------
Login: ${sellerUsername}
Email: ${sellerEmail}

Shop : http://www.neogeodb.com/market/${sellerId}


Regards,
The neogeodb admins